@import '../../sass/utils/_variables.scss';

.navbar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: $dark-gray;
  transition: padding 0.5s;

  @media screen and (min-width: 500px) {
    padding: 0 30px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      align-items: center;
    }
  }
}

.logo {
  height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #fff;

  &__icon {
    height: auto;
    width: auto;
    color: $royal-pink;
    font-size: 1.625rem;
  }

  @media screen and (min-width: 500px) {
    height: 36px;
    width: 36px;
    min-width: 36px;

    &__icon {
      font-size: 2rem;
    }
  }
}

.title {
  padding-bottom: 2px;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;

  @media screen and (min-width: 500px) {
    font-size: 2rem;
  }
}
