@import '../../sass/utils/_variables.scss';

.home {
  min-height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 10px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.sub-title {
  font-size: 1.25rem;
  text-transform: uppercase;
}
