@import '../utils/_variables.scss';

.btn {
  padding: 6px 12px;
  background-color: $royal-pink;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:disabled {
    background-color: $light-gray;
    cursor: default;
  }
}
