<section class="vehicle-container">
  <form [formGroup]="vehicleForm"
        class="form">
    <button class="btn btn_pink"
            type="button"
            (click)="getVehicleData()">
      Refresh Data
    </button>

    <section class="panel">
      <h2 class="title title_dark">
        <mat-icon class="title__icon">build</mat-icon>
        Vehicle Information
      </h2>

      <section class="grid grid-col-3">
        <div class="text-field">
          <h3 class="text-field__title">VIN</h3>
          <p>{{vehicleData?.vin || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Year</h3>
          <p>{{vehicleData?.vehicleYear || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Make</h3>
          <p>{{vehicleData?.vehicleMake || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Model</h3>
          <p>{{vehicleData?.vehicleModel || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Model Number</h3>
          <p>{{vehicleData?.modelNumber || '- -'}}</p>
        </div>
      </section>

      <h2 class="title title_dark">
        <mat-icon class="title__icon">shopping_cart</mat-icon>
        Vehicle Pricing
      </h2>

      <div class="grid grid-col-3">
        <div class="text-field">
          <h3 class="text-field__title">Purchase Price</h3>
          <p>{{(vehicleData?.purchasePrice | currency) || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">MSRP</h3>
          <p>{{(vehicleData?.msrp | currency) || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Discount</h3>
          <p>{{(vehicleData?.discount | currency) || '- -'}}</p>
        </div>
        <div class="text-field">
          <h3 class="text-field__title">Rebate</h3>
          <p>{{(vehicleData?.rebate | currency) || '- -'}}</p>
        </div>
      </div>
    </section>

    <section class="panel">
      <h2 class="title">
        <mat-icon class="title__icon">edit</mat-icon>
        Update Pricing
      </h2>

      <div class="grid grid-col-3"
           formGroupName="vehiclePricing">
        <mat-form-field floatLabel="always">
          <mat-label>Purchase Price</mat-label>
          <input #purchasePrice matInput
                 formControlName="purchasePrice"
                 placeholder="- -"
                 type="number">
          <span matSuffix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>MSRP</mat-label>
          <input matInput
                 formControlName="msrp"
                 placeholder="- -"
                 type="number">
          <span matSuffix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Discount</mat-label>
          <input matInput
                 formControlName="discount"
                 placeholder="- -"
                 type="number">
          <span matSuffix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Rebate</mat-label>
          <input matInput
                 formControlName="rebate"
                 placeholder="- -"
                 type="number">
          <span matSuffix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
      </div>

      <div class="btn-group">
        <button class="btn btn_pink"
                type="submit"
                [disabled]="!vehicleForm.valid || vehicleForm.pristine"
                (click)="updateVehiclePriceData()">
          Save
        </button>
        <button *ngIf="vehicleForm.dirty"
                class="btn btn_dark"
                type="button"
                (click)="clearChanges()">
          Clear
        </button>
      </div>

      <div [ngStyle]="{'animation': saveSuccess && vehicleForm.pristine ? 'fade-in 0.5s forwards' : 'fade-out 0.5s forwards'}"
           class="save-message">
        <mat-icon class="save-message__icon">check_circle_outline</mat-icon>
        <p class="save-message__text">Update Successful!</p>
      </div>
    </section>
  </form>
</section>
