<section class="vehicle-container">
  <form [formGroup]="vehicleForm"
        class="form">
    <button class="btn"
            type="button"
            (click)="getVehicleData()">
      Refresh Data
    </button>
    <section class="form-group"
             formGroupName="vehicleInfo">
      <h2 class="title">Vehicle Information</h2>
      <div class="form-input-grid">
        <mat-form-field floatLabel="always">
          <mat-label>VIN</mat-label>
          <input matInput
                 formControlName="vin"
                 placeholder="- -"
                 type="text"
                 readonly>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Year</mat-label>
          <input matInput
                 formControlName="vehicleYear"
                 placeholder="- -"
                 type="text"
                 readonly>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Make</mat-label>
          <input matInput
                 formControlName="vehicleMake"
                 placeholder="- -"
                 type="text"
                 readonly>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Model</mat-label>
          <input matInput
                 formControlName="vehicleModel"
                 placeholder="- -"
                 type="text"
                 readonly>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Model Number</mat-label>
          <input matInput
                 formControlName="modelNumber"
                 placeholder="- -"
                 type="text"
                 readonly>
        </mat-form-field>
      </div>
    </section>

    <section class="form-group"
             formGroupName="vehiclePricing">
      <h2 class="title">Vehicle Pricing</h2>
      <div class="form-input-grid">
        <mat-form-field floatLabel="always">
          <mat-label>Purchase Price</mat-label>
          <input #purchasePrice matInput
                 formControlName="purchasePrice"
                 placeholder="- -"
                 type="number">
          <span matPrefix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>MSRP</mat-label>
          <input matInput
                 formControlName="msrp"
                 placeholder="- -"
                 type="number">
          <span matPrefix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Discount</mat-label>
          <input matInput
                 formControlName="discount"
                 placeholder="- -"
                 type="number">
          <span matPrefix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Rebate</mat-label>
          <input matInput
                 formControlName="rebate"
                 placeholder="- -"
                 type="number">
          <span matPrefix>$&nbsp;</span>
          <mat-error>Enter a numerical value of 0 or greater.</mat-error>
        </mat-form-field>
      </div>
      <button class="btn"
              type="button"
              [disabled]="!vehicleForm.valid"
              (click)="updateVehiclePriceData()">
        Update Pricing
      </button>
    </section>
  </form>
</section>
