@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

h1, h2, h3, h4, h5, h6, p, li, label, input, button {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}
